$color-1: red;
$color-2: blue;
$color-3: purple;

body {
    padding: 0;
    font-family: Arial;
}

h1 {
    color: $color-3;
}

.page {
    background: $color-2;
}

.footer {
    background: $color-3;
}